{embed="includes/.header"}
<article>
	<h1>----- Font Styling -----</h1>
	<h1>H1 - headline</h1>
	<h2>H2 - subhead</h2>
	<h3>H3 - copy headline</h3>
	<h4>h4 - copy subheadline</h4>
	<p>P - copy</p>


	<h1>----- Button Styling -----</h1>
	
	<p><a href="" class="btn btnGrey">Classes: btn + btnGrey</a></p>
	<p><a href="" class="btn btnGreyBackground">Classes: btn + btnGreyBackground</a></p>
	<p><a href="" class="btn btnWhite">Classes: btn + btnWhite</a></p>
	<p><a href="" class="btn btnGreen">Classes: btn + btnGreen</a></p>

	<h1>----- Text Link Styling -----</h1>
	<p><a href="" class="">Class: None</a></p>
	<p><a href="" class="green-link">Class: Green Link</a></p>


	<h1>----- Colors -----</h1>
	<div class="color-block brightgreen">brightgreen</div>

	<div class="color-block darkgrey">darkgrey</div>
	<div class="color-block text-headlinegrey">text-headlinegrey</div>
	<div class="color-block textgrey">textgrey</div>
	<div class="color-block subnav-grey">subnav-grey</div>
	<div class="color-block text-lightgrey">text-lightgrey</div>
	<div class="color-block close-menu-grey">close-menu-grey</div>
	<div class="color-block lightborder">lightborder</div>
	<div class="color-block textbox-grey">textbox-grey</div>
	<div class="color-block alternate-grey">alternate-grey</div>
</article>



{embed="includes/.footer"}