{embed="includes/.header"}

<article class="thank-you">
	<h1>MESSAGE SENT!</h1>
	<p><em>Thank you for contacting us.</em></p>
	<p>You will hear from us soon, by the next business day, at the latest. While you're here, consider checking out our blog. Follow us on Twitter or LinkedIn for industry insights, updates and offers.</p>

	<p>W248 N5499 Executive Drive Sussex, WI, USA 53089<br />
	Phone (US) (855) 204-3560<br />
	Phone (International) (262) 714-9107</p>
</article>

{embed="includes/.footer"}