<ul class="list-container">
  {exp:channel:entries channel="product_category" orderby="menu_display_order" sort="asc" dynamic="no" disable="member_data|categories|category_fields|pagination"}

    {!-- if category is accessories, list the products, not the product groups.--}
    {if url_title != "accessories"}
      <li><a href="{site_url}/products/{url_title}" onClick="ga('send', 'event', 'Header', 'Product Megamenu Link', 'Product Megamenu Link - Product Category - {category_name}');">{category_name}</a>
        <ul>
            {category_group}
              <li><a href="{site_url}/products/{url_title}/{category_group:url_title}" onClick="ga('send', 'event', 'Header', 'Product Megamenu Link', 'Product Megamenu Link - Product Group - {category_group:title}');">{category_group:product_group_name}</a></li>
            {/category_group}
        </ul>
      </li>
      {if count % 2 == 0}
        </ul>
        <ul class="list-container">
      {/if}
    {if:else}
      <li><a>Accessories</a>
        <ul>
          <li><a href="{site_url}/product/waste-and-recycle-liner-bags" onClick="ga('send', 'event', 'Header', 'Product Megamenu Link', 'Product Megamenu Link - Product Category - Accessories - Recycling Liner Bags');">Waste &amp; Recycle Liner Bags</a></li>
          <li><a href="{site_url}/product/doggie-waste-bags" onClick="ga('send', 'event', 'Header', 'Product Megamenu Link', 'Product Megamenu Link - Product Category - Accessories - Doggie Waste Bags');">Doggie Waste Bags</a></li>
          <!-- <li><a href="{site_url}/product/igloo-water-cooler" onClick="ga('send', 'event', 'Header', 'Product Megamenu Link', 'Product Megamenu Link - Product Category - Accessories - Igloo Water Coolers');">Igloo Water Coolers</a></li> -->
        </ul>
      </li>
      <li class="clearance"><a href="{site_url}/products/clearance" onClick="ga('send', 'event', 'Header', 'Product Megamenu Link', 'Product Megamenu Link - Product Category - Clearance');">Clearance</a></li>  
    {/if}

  {/exp:channel:entries}
</ul>
<div style="clear: both;"></div>