{!-- <h1 class="centered">Ready to build your bin?</h1> --}
<div class="build-your-bin-block">

     <picture>
        <!--[if IE 9]><video style="display: none;"><![endif]-->
        <source srcset="{site_url}/images/product/build-your-bin-background.jpg" media="(min-width: 1041px)">
        <source srcset="{site_url}/images/empty.gif" media="(min-width: 1px)" >
        <!--[if IE 9]></video><![endif]-->
        	<img src="{site_url}/images/product/build-your-bin-background.jpg" class="build-bin-background">
    </picture>    

	<div class="build-your-bin-text">
		<p>Use our online bin configurator to try out different configurations, colors, symbols, labels, roof options - interact with all of our customization options and create your ideal waste &amp; recycling bin! </p>
		<p><a href="https://www.customizeabin.com" target="_blank" class="btn btnGreen" style="display: inline-block;" onClick="ga('send', 'event', 'Product Page Link', 'Product Page Link - Configurator Block', 'Product Page Link - Configurator Block - Launch Configurator');">Launch the Product Configurator</a></p>
		<p class="fineprint">Still have quesitons about the configuring your bin? <a href="{site_url}/customization" class="green-link">Learn More</a>.</p>
	</div>
</div>