<div class="col3 left-nav">
	<h4>About</h4>
	<ul>
		<li><a href="{site_url}/about" class="{if segment_1=='about'}active{/if}">About Us</a></li>
		<li><a href="{site_url}/innovator" class="{if segment_1=='innovator'}active{/if}">Innovator</a></li>
		<li><a href="{site_url}/materials" class="{if segment_1=='materials'}active{/if}">Our Material</a></li>
		<li><a href="{site_url}/customization" class="{if segment_1=='customization'}active{/if}">Customization</a></li>
		<li><a href="{site_url}/sustainable-practices" class="{if segment_1=='sustainable-practices'}active{/if}">Sustainable Practices</a></li>
	</ul>
</div>