<div class="col3 left-nav">
	<h4>Resources</h4>
	<ul>
		<li><a href="{site_url}/blog" class="{if segment_1=="blog" || sebment_1=="post"}active{/if}">Blog</a></li>
		<li><a href="{site_url}/catalogs" class="{if segment_1=="catalog"}active{/if}">Catalogs</a></li>
		<li><a href="{site_url}/case-studies" class="{if segment_1=="case-studies"}active{/if}">Case Studies</a></li>
		<li><a href="{site_url}/client-gallery" class="{if segment_1=="client-gallery"}active{/if}">Client Gallery</a></li>
		<li><a href="{site_url}/faqs" class="{if segment_1=="faqs"}active{/if}">FAQs</a></li>
		<li><a href="{site_url}/white-papers" class="{if segment_1=="white-papers"}active{/if}">White Papers</a></li>
		<li><a href="{site_url}/sales-policy" class="{if segment_1=="sales-policy"}active{/if}">Sales Policy</a></li>
	</ul>
</div>