/* ================= Cross Promotion Block Styles ================= */

.cross-promotion {
	padding: 7% 0;
	width: 100%;
	text-align: center;
	background-color: $darkgrey;
	h1{
		margin: 0;
		padding: 0;
		color: $white;
	}
	h3 {
		margin-bottom: 30px;
		color: $white;
	}
}