/* Colors */
$black				: #000000;

$brightgreen 		: #7ac043;
$green-transparent	: rgba(122,192,67,0.8);
$grey-transparent	: rgba(102,102,102,0.8);

$darkerBrightgreen	: #6ea040;
$brightgreenBorder  : #527730;

$headline-blue		: #275084;

$darkgrey			: #333333;
$darkgrey-2			: #363636;
$text-headlinegrey  : #414141;
$textgrey			: #666666;
$text-lightgrey		: #999999;
$subnav-grey		: #808080;

$lightgrey			: #f1f1f1;
$form-border-grey	: #c8c8c8;
$lightborder		: #d1d1d1;
$textbox-grey		: #d6d6d6;
$alternate-grey		: #ebebeb;


$close-menu-grey	: #b0b0b0;

$white-transparent	: rgba(255, 255, 255, 0.5);
$white				: #ffffff;


/* Fonts */
$font-bold			: Geogrotesque-Bold;
$font-semibold		: Geogrotesque-SemiBold;
$font-medium		: Geogrotesque-Medium;
$font-regular		: Geogrotesque-Regular;
$font-light			: Geogrotesque-Light;
$font-ultralight	: Geogrotesque-UltraLight;

$font-body-normal  	: proxima-nova;

$site-name			: max-r;
$site-extension		: net;